body { 
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

/* Announcemnt-Section */
#Announcement {
    background-color: #3a3a3a;
    text-align: center;
    padding-top: .5%;
    padding-bottom: .5%;
}

/* Navigation-Section */
#Navigation {
    text-align: center;
    background-color: #fff;
    padding-bottom: 50px;
}

.navbar {
    padding: 20px 0 10px;
}


.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
}

.nav-item {
    padding: 0 20px;
}

.logo {
    padding-left: 43%;
}

.nav-item-home {
    text-decoration: underline;
}

.nav-item:hover {
    text-decoration: underline;
}

/* Testimonial-Section */

.Testimonials {
    text-align: center;
}

.carousel-item {
    font-size: 1.5rem;
}

.carousel-img {
    height: 500px;
}

.testinomial-text {
    margin-bottom: 20px;
}

/* Footer-Section */

#Footer {
    background-color: #3a3a3a;
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.copyright {
    font-size: .75rem;
}

.footer-icon {
    padding-right: 10px;
    padding-left: 10px;
}

#Footer a {
    color: #fff;
}